*.log
*.pt
*.ckpt
*.pth
*.pkl
*.pt
*.ckpt
*.pth
*.pkl

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/__pycache__/
*/*/*/*/*/*/*/*/__pycache__/

taming/modules/__pycache__/util.cpython-39.pyc
taming/modules/discriminator/__pycache__/model.cpython-39.pyc
taming/modules/losses/__pycache__/__init__.cpython-39.pyc
taming/modules/losses/__pycache__/lpips.cpython-39.pyc
taming/modules/losses/__pycache__/util.cpython-39.pyc
taming/modules/losses/__pycache__/vqperceptual.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/__init__.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/data.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/ema.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/encoder_decoder.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/loss.cpython-39.pyc
denoising_diffusion_pytorch/__pycache__/utils.cpython-39.pyc

*events.*
datasets/
enhanced_suite/archive/radio_diff_DPM_Train/*
enhanced_suite/archive/radiomapseer_edge_dataset/*
enhanced_suite/archive/radiomapseer_edge_dataset_final/*
enhanced_suite/archive/radiomapseer_edge_dataset_flat/*
enhanced_suite/archive/radiomapseer_edge_dataset_updated/*
enhanced_suite/archive/radiomapseer_edge_dataset_updated/
enhanced_suite/archive/radiomapseer_edge_test_results/*
enhanced_suite/archive/results/test/*
enhanced_suite/archive/test_output/*
enhanced_suite/archive/test_updated/*
enhanced_suite/edge_detection_results/*
enhanced_suite/archive/test_preserved_structure/*
enhanced_suite/archive/test_edge_results/
